<!-- RODAPÉ -->
<footer class="rodape">
    <div class="container-rodape">
        <div class="conteudo-rodape">
            <div class="secao-rodape">
                <h4 class="titulo-rodape">LifeAI</h4>
                <p class="descricao-rodape">
                    Plataforma inteligente de triagem hospitalar com IA para otimização do atendimento.
                </p>
            </div>

            <div class="secao-rodape">
                <h5 class="subtitulo-rodape">Links Rápidos</h5>
                <ul class="lista-rodape">
                    <li><a href="{{ url_for('painel_controle') }}" class="link-rodape">Painel</a></li>
                    <li><a href="{{ url_for('novo_exame') }}" class="link-rodape">Novo Exame</a></li>
                    <li><a href="{{ url_for('lista_exames') }}" class="link-rodape">Exames</a></li>
                    <li><a href="{{ url_for('fila_prioridade') }}" class="link-rodape">Fila</a></li>
                </ul>
            </div>

            <div class="secao-rodape">
                <h5 class="subtitulo-rodape">Suporte</h5>
                <ul class="lista-rodape">
                    <li><a href="#" class="link-rodape">Documentação</a></li>
                    <li><a href="#" class="link-rodape">Centro de Ajuda</a></li>
                    <li><a href="#" class="link-rodape">Contato</a></li>
                    <li><a href="#" class="link-rodape">Status</a></li>
                </ul>
            </div>

            <div class="secao-rodape">
                <h5 class="subtitulo-rodape">Legal</h5>
                <ul class="lista-rodape">
                    <li><a href="#" class="link-rodape">Privacidade</a></li>
                    <li><a href="#" class="link-rodape">Termos de Serviço</a></li>
                    <li><a href="#" class="link-rodape">Segurança</a></li>
                    <li><a href="#" class="link-rodape">Compliance</a></li>
                </ul>
            </div>
        </div>

        <div class="linha-rodape"></div>

        <div class="rodape-inferior">
            <p class="copyright">© 2026 LifeAI. Todos os direitos reservados. | Versão 1.0.0</p>
            <p class="status-ia">Status: IA Funcionando Normalmente</p>
        </div>
    </div>
</footer>
